<div class="row animated fadeIn fast">
  <div class="col-12 col-md-4">
    <div class="card-body">
      <h3>Usuarios</h3>
      <div class="alert alert-info">
          No hay usuarios con ese termino
      </div>
      <table class="table">
        <thead>
          <tr>
            <th>Foto</th>
            <th>Nombre</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Deshmukh</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-12 col-md-4">
    <div class="card-body">
      <h3>Hospitales</h3>
      <div class="alert alert-info">
          No hay hospitales con ese termino
      </div>
      <table class="table">
        <thead>
          <tr>
            <th>Foto</th>
            <th>Nombre</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Deshmukh</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-12 col-md-4">
    <div class="card-body">
      <h3>Médicos</h3>
      <div class="alert alert-info">
          No hay médicos con ese termino
      </div>
      <table class="table">
        <thead>
          <tr>
            <th>Foto</th>
            <th>Nombre</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Deshmukh</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
