<div class="row animated fadeIn fast">
  <div class="col-12 col-md-4">
    <div class="card-body">
      <h3>Usuarios</h3>
      <div *ngIf="users.length === 0" class="alert alert-info">
        No hay usuarios con ese termino
      </div>
      <div class="table-responsive">
        <table *ngIf="users.length > 0" class="table">
          <thead>
            <tr>
              <th class="w100">Foto</th>
              <th>Nombre</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of users" class="animated fadeIn fast">
              <td>
                <img
                  [src]="user.img | image: 'usuarios'"
                  [alt]="user.nombre"
                  class="profile-img-sm"
                />
              </td>
              <td>{{ user.nombre }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="col-12 col-md-4">
    <div class="card-body">
      <h3>Hospitales</h3>
      <div *ngIf="hospitals.length === 0" class="alert alert-info">
        No hay hospitales con ese termino
      </div>
      <div class="table-responsive">
        <table *ngIf="hospitals.length > 0" class="table">
          <thead>
            <tr>
              <th class="w100">Imagen</th>
              <th>Nombre</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let hospital of hospitals" class="animated fadeIn fast">
              <td>
                <img
                  [src]="hospital.img | image: 'hospitales'"
                  [alt]="hospital.nombre"
                  class="profile-img-sm"
                />
              </td>
              <td>{{ hospital.nombre }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="col-12 col-md-4">
    <div class="card-body">
      <h3>Médicos</h3>
      <div *ngIf="doctors.length === 0" class="alert alert-info">
        No hay médicos con ese termino
      </div>
      <div class="table-responsive">
        <table *ngIf="doctors.length > 0" class="table">
          <thead>
            <tr>
              <th class="w100">Foto</th>
              <th>Nombre</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let doctor of doctors" class="animated fadeIn fast">
              <td>
                <img
                  [src]="doctor.img | image: 'medicos'"
                  [alt]="doctor.nombre"
                  class="profile-img-sm"
                />
              </td>
              <td>{{ doctor.nombre }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
